<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AwsTools.Archive.archiveConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="AwsTools.Archive.archive_config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <AwsTools.Archive.archiveConfig>
      <setting name="stid" serializeAs="String">
        <value>57461</value>
      </setting>
      <setting name="aws_path" serializeAs="String">
        <value>D:\ISOS\dataset\湖北\57461\AWS</value>
      </setting>
      <setting name="awsnet_path" serializeAs="String">
        <value>D:\ISOS\bin\Awsnet</value>
      </setting>
      <setting name="digit_path" serializeAs="String">
        <value>M:\in\461\57461站上传报表文件\57461站正式上传文件</value>
      </setting>
      <setting name="archive_list" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>1	01新型自动站小时数据				AWS_H_Z_{}_{}{}.txt						新型自动站\订正\Hour</string>
            <string>1	02新型自动站分钟数据				AWS_M_Z_{}_{}{}\d+.txt						新型自动站\订正\Minute</string>
            <string>1	03天气现象综合判断分钟数据			TQXX_M_Z_{}_{}{}\d+.txt						天气现象综合判断\minute</string>
            <string>1	04天气现象状态分钟数据				{}_weather_state_{}{}\d+.txt					weather\设备\state\Minute</string>
            <string>1	05天气现象分钟数据				{}_weather_value_{}{}\d+.txt					weather\订正\value\Minute</string>
            <string>0	06能见度状态分钟数据（独立能见度）		{}_visibility_state_{}{}\d+.txt					Visibility\设备\state\Minute</string>
            <string>0	07能见度分钟数据（独立能见度）			{}_Visibility_value_{}{}\d+.txt					Visibility\订正\value\Minute</string>
            <string>0	08日照状态分钟数据				{}_sunlight_state_{}{}\d+.txt					sunlight\设备\state\Minute</string>
            <string>0	09日照分钟数据					{}_sunlight_value_{}{}\d+.txt					sunlight\订正\Minute</string>
            <string>1	10辐射状态分钟数据				{}_radiation_state_{}{}\d+.txt					radiation\设备\state\Minute</string>
            <string>1	11辐射分钟数据					AWS_M_R_{}_{}{}\d+.txt						radiation\订正\value\Minute</string>
            <string>0	12云状态分钟数据					{}_cloud_state_{}{}\d+.txt					cloud\设备\state\Minute</string>
            <string>0	13云分钟数据					{}_cloud_value_{}{}\d+.txt					cloud\订正\value\Minute</string>
            <string>1	14谱数据文件					{}_weather_YDP_value_{}{}\d+.txt				weather\雨滴谱\minute\</string>
            <string>1	15降水现象自动观测分钟数据zip格式压缩上传文件	Z_SURF_I_{}_\d+_O_weather-VALUE-{}{}\D*.txt.zip			{}\</string>
            <string>1	16降水现象观测数据整编文件			Z_SURF_I_{}_\d+_O_weather-TEMP-{}{}\D*.txt			{}\</string>
          </ArrayOfString>
        </value>
      </setting>
    </AwsTools.Archive.archiveConfig>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>